/*css of Top page*/
body {
  overflow: hidden;
}
#top {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/top/main_yoko.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#bgfilter {
  position: fixed;
  background-image: url("../imgs/top/sand-filter.jpg");
  background-size: cover;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  opacity: 0;
  /* filter: hue-rotate(30deg); */
  transition: 5s;
}
#researve-box {
  position: fixed;
  width: 30%;
  max-width: 16rem;
  height: 3rem;
  right: 10%;
  top: 15%;
  z-index: 99;
}
#researve-box a {
  display: block;
  width: 100%;
  height: 100%;
}

#rightarrow {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  height: 100%;
  position: relative;
}
#rightarrow img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1.5rem;
  /* background-color: red; */
  animation-name: float-horizontal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.8s;
}
@keyframes float-horizontal {
  0% {
    transform: translate(0px, 0);
  }
  70% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
#doresearve {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}
#sns-button {
  position: fixed;
  width: 10%;
  max-width: 3.5rem;
  height: 3rem;
  right: 10%;
  top: 23%;
  z-index: 99;
}
#sns-button a {
  display: block;
  margin-bottom: 0.7rem;
}
#sns-button a img {
  width: 100%;
}

#content1 {
  width: 100%;
  height: 100%;
  position: relative;
}
#title {
  /* background-color: rgb(255, 0, 0, 0.2); */
  top: 0.5vw;
  left: 0.5vw;
  position: absolute;
  max-height: calc(100% - 1vw);
  max-width: calc(100% - 0.5vw);
  fill: var(--titleblack);
}
#info-wrapper {
  position: absolute;
  bottom: 0.5vw;
  width: 100%;
  text-align: right;
}
#info-box,
#content2-box {
  display: inline-block;
  width: 80%;
  max-width: 50rem;
  text-align: left;
}
#downarrow {
  width: 6%;
  max-width: 3.2rem;
  position: relative;
}
#downarrow img {
  width: 100%;
  position: absolute;
  top: -5rem;
  animation-name: float-vertical;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.8s;
}
@keyframes float-vertical {
  0% {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 12px);
  }
}
#topinfo {
}
#topinfo img {
  width: 100%;
}
#content2 {
  position: relative;
  width: 100%;
  text-align: right;
  padding-top: 20rem;
  padding-bottom: 12rem;
  /* background-color: red; */
  font-family: "HelveticaNeue", a-otf-gothic-bbb-pr6n, sans-serif;
  color: var(--baseblack);
  color: var(--basewhite);
  font-weight: 400;
}
/* #content2-box は上*/
.subtitle {
  font-size: 6vw;
  margin-bottom: 3rem;
  font-weight: 200;
}
.list {
  font-size: 3vw;
  line-height: 5vw;
  margin-bottom: 3rem;
}
.null-space {
  height: 10rem;
}
.text {
  font-size: 3vw;
  line-height: 5vw;
  margin-bottom: 3rem;
  width: 92%;
  max-width: 40rem;
  text-align: justify;
}
.text-border {
  border-top: solid 1px var(--basewhite);
  margin-bottom: 3rem;
  width: 40%;
  max-width: 30rem;
}

#copyright {
  position: relative;
}

/* .down-arrow img {
  position: absolute;
  bottom: -3rem;
  width: 3.5rem;
  opacity: 0.9; */

/*上下アニメーション*/
/* animation-name: float-arrow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.75s;
} */

/*@keyframes float-arrow {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px);
  }
}*/

@media screen and (min-width: 480px) {
  /*スマホ以上*/
  .subtitle {
    font-size: 4rem;
  }
  .list {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
  .text {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
}
@media screen and (min-width: 896px) {
  /*タブレット以上*/
}
