body {
  scroll-behavior: inherit;
  /* -webkit-overflow-scrolling: touch; */
  text-align: center;
  color: var(--titleblack);
  font-weight: 400;
}
button {
  background: none;
  border: none;
}
#langbutton {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 15rem;
  height: 4rem;
  /* background-color: red; */
}
#langbutton button {
  font-style: oblique;
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transform: scale(0.95, 1);
}
#ja-button {
  display: none;
}
#en-button {
  display: block;
}
#topbutton {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 15rem;
  height: 4rem;
}
#topbutton a {
  font-size: 2.4rem;
  position: absolute;
  color: var(--titleblack);
  bottom: 1rem;
  right: 1rem;
  transform: scale(0.95, 1);
}

#contents-wrapper {
  width: 95%;
  max-width: 65rem;
  display: inline-block;
  height: auto;
  text-align: left;
}
#contents-target {
  /* margin : 10rem 0; */
  /* background-color: yellow; */
  transform: scale(0.95, 1);
}
#index {
  margin-top: 5rem;
  width: 95%;
  max-width: 65rem;
  display: inline-block;
  height: auto;
  text-align: left;
  transform: scale(0.95, 1);
  padding-bottom: 1.6rem;
  border-bottom: solid 1px var(--baseblack);
}
#index span {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 2.6rem;
}
#index a {
  display: block;
  color: rgb(40, 54, 160);
  font-size: 1.15rem;
  margin-bottom: 1.2rem;
}

.artistinfo-root {
  /* background-color: red; */
  width: 100%;
  height: auto;
  /* padding: 5rem 0; */
  margin-bottom: 3rem;
  font-family: "HelveticaNeue", a-otf-gothic-bbb-pr6n, sans-serif; /*ニュートラル*/
  font-weight: 500;
  letter-spacing: 0rem;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
.artist-name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 4rem;
  margin-top: 7rem;
  padding-top: 1rem;
}
.artist-title {
  margin-bottom: 3rem;
  font-style: oblique;
  font-size: 1.4rem;
  line-height: 2rem;
}
.artist-info {
  text-align: right;
  margin-bottom: 3rem;
  color: var(--baseblack);
  font-size: 1rem;
  font-family: "HelveticaNeue", "HiraKakuGo", sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
}
.artist-description {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: justify;
}
#sitelink {
  margin: 12rem 0;
  text-align: center;
}

#copyright {
  color: var(--baseblack);
  border-top: solid 1px var(--baseblack);
  margin-left: 0;
  width: 100%;
}
